/**
  * Breakout
  *
  * @author jh3y - jheytompkins.com
*/
@-webkit-keyframes breakout {
  0%,
  40% {
    border-width: 25px; }
  60% {
    border-color: var(--primary);
    border-width: 6px;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    border-color: var(--secondary);
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2); } }
@keyframes breakout {
  0%,
  40% {
    border-width: 25px; }
  60% {
    border-color: var(--primary);
    border-width: 6px;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    border-color: var(--secondary);
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2); } }

.breakout {
  position: relative;
  height: 50px;
  width: 50px; }
  .breakout:before {
    -webkit-animation: breakout 1.5s infinite;
            animation: breakout 1.5s infinite;
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    border: 6px solid var(--primary);
    border-radius: 100%; }
