/**
  * Chase
  *
  * @author jh3y - jheytompkins.com
*/
.chase {
  position: relative; }
  .chase:after, .chase:before {
    content: '';
    height: 30px;
    width: 30px;
    display: block;
    -webkit-animation: out .5s backwards, spin 1.25s .5s infinite ease;
            animation: out .5s backwards, spin 1.25s .5s infinite ease;
    border: 5px solid var(--primary);
    border-radius: 100%;
    -webkit-box-shadow: 0 -40px 0 -5px var(--primary);
            box-shadow: 0 -40px 0 -5px var(--primary);
    position: absolute; }
  .chase:after {
    -webkit-animation-delay: 0s, 1.25s;
            animation-delay: 0s, 1.25s; }

@-webkit-keyframes out {
  from {
    -webkit-box-shadow: 0 0 0 -5px var(--primary);
            box-shadow: 0 0 0 -5px var(--primary); } }

@keyframes out {
  from {
    -webkit-box-shadow: 0 0 0 -5px var(--primary);
            box-shadow: 0 0 0 -5px var(--primary); } }

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
