/**
  * Color arc
  *
  * @author jh3y - jheytompkins.com
*/
.color-arc {
  -webkit-clip-path: inset(0% 50% 50% 0%);
          clip-path: inset(0% 50% 50% 0%);
  height: 50px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-25%, -25%);
          transform: translate(-25%, -25%);
  width: 50px; }
  .color-arc:before {
    animation: spin 1.25s infinite linear reverse;
    border-width: 6px;
    border-style: solid;
    border-top-color: var(--primary);
    border-bottom-color: var(--primary);
    border-left-color: var(--secondary);
    border-radius: 100%;
    border-right-color: var(--secondary);
    content: '';
    display: block;
    height: 50px;
    width: 50px; }

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
