/**
  * Dots
  *
  * @author jh3y - jheytompkins.com
*/
.dots:before {
  display: block;
  height: 5px;
  width: 5px;
  content: '';
  -webkit-animation: spin 1s infinite;
          animation: spin 1s infinite;
  border-radius: 100%;
  -webkit-box-shadow: 20px 0 0 5px var(--primary), -20px 0 0 5px var(--primary);
          box-shadow: 20px 0 0 5px var(--primary), -20px 0 0 5px var(--primary); }

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
