/**
  * Fly by
  *
  * @author jh3y - jheytompkins.com
*/
@-webkit-keyframes fly-by {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200%) scale(0);
            transform: translateX(-200%) scale(0); }
  50% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1.25);
            transform: translateX(0) scale(1.25); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(200%) scale(0);
            transform: translateX(200%) scale(0); } }
@keyframes fly-by {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200%) scale(0);
            transform: translateX(-200%) scale(0); }
  50% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1.25);
            transform: translateX(0) scale(1.25); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(200%) scale(0);
            transform: translateX(200%) scale(0); } }

.fly-by:before {
  -webkit-animation: fly-by 1s infinite ease;
          animation: fly-by 1s infinite ease;
  background-color: var(--primary);
  border-radius: 100%;
  display: block;
  content: '';
  height: 40px;
  width: 40px; }
