/**
  * Line
  *
  * @author jh3y - jheytompkins.com
*/
@-webkit-keyframes line {
  from {
    background-position: -60px 0; }
  to {
    background-position: 60px 0; } }
@keyframes line {
  from {
    background-position: -60px 0; }
  to {
    background-position: 60px 0; } }

.line:before {
  -webkit-animation: line .75s infinite alternate ease-in-out;
          animation: line .75s infinite alternate ease-in-out;
  background: -webkit-gradient(linear, left top, right top, from(var(--primary)), to(var(--primary)));
  background: linear-gradient(90deg, var(--primary), var(--primary));
  background-repeat: no-repeat;
  background-size: 60px 20px;
  content: '';
  display: block;
  height: 20px;
  width: 60px; }
