/**
  * scaling-circle
  *
  * @author jh3y
*/
@-webkit-keyframes scaling-circle {
  0%, 30%, 50%, 100% {
    -webkit-transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px)) scale(1);
            transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px)) scale(1); }
  40% {
    -webkit-transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px)) scale(0);
            transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px)) scale(0); } }
@keyframes scaling-circle {
  0%, 30%, 50%, 100% {
    -webkit-transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px)) scale(1);
            transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px)) scale(1); }
  40% {
    -webkit-transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px)) scale(0);
            transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px)) scale(0); } }

.scaling-circle {
  --radius: 25;
  --size: 10;
  height: calc(var(--size) * 1px);
  width: calc(var(--size) * 1px);
  position: absolute; }
  .scaling-circle div {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 100%;
    background: var(--primary);
    -webkit-animation: scaling-circle 0.8s calc(var(--delay) * 1s) infinite ease;
            animation: scaling-circle 0.8s calc(var(--delay) * 1s) infinite ease;
    -webkit-transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px));
            transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px)); }
    .scaling-circle div:nth-child(1) {
      --angle: 45;
      --delay: 0.1; }
    .scaling-circle div:nth-child(2) {
      --angle: 90;
      --delay: 0.2; }
    .scaling-circle div:nth-child(3) {
      --angle: 135;
      --delay: 0.3; }
    .scaling-circle div:nth-child(4) {
      --angle: 180;
      --delay: 0.4; }
    .scaling-circle div:nth-child(5) {
      --angle: 225;
      --delay: 0.5; }
    .scaling-circle div:nth-child(6) {
      --angle: 270;
      --delay: 0.6; }
    .scaling-circle div:nth-child(7) {
      --angle: 315;
      --delay: 0.7; }
    .scaling-circle div:nth-child(8) {
      --angle: 360;
      --delay: 0.8; }
