/**
  * Slide in
  *
  * @author jh3y
*/
@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%); }
  30%,
  70% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300%);
            transform: translateX(300%); } }
@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%); }
  30%,
  70% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300%);
            transform: translateX(300%); } }

.slide-in div {
  -webkit-animation: slide-in 1.5s infinite;
          animation: slide-in 1.5s infinite;
  background-color: var(--primary);
  height: 20px;
  left: 50%;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 20px; }
  .slide-in div:nth-of-type(1) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    margin-left: -35px; }
  .slide-in div:nth-of-type(2) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    margin-left: -10px; }
  .slide-in div:nth-of-type(3) {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
    margin-left: 15px; }
