/* COLORS */
/**/
.contact-item {
  padding-bottom: 1em;
}
.contact-item .col-md-6 {
  padding-bottom: 1em;
}
.contact-item .col-md-6:first-of-type {
  text-transform: uppercase;
  text-decoration: underline;
}
/* RESPONSIVE MEDIA QUERIES */
@media (min-width: 992px) {
  .contact-item {
    padding-bottom: 0;
  }
  .contact-item .col-md-6:first-of-type {
    border-right: thin solid #FFF;
    text-align: right;
    padding-right: 1em;
    text-decoration: none;
  }
  .contact-item .col-md-6:last-of-type {
    text-align: left;
    padding-left: 1em;
  }
}
/* FONTS */
* {
  transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
}
body {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #555555;
  font-family: "Cabin", "Helvetica Neue";
  font-weight: 400;
}
section img {
  max-height: 250px;
  margin: 1em auto;
}
section[id] {
  padding-top: 6em;
  padding-bottom: 6em;
}
section.invert {
  color: #FFF;
  background-color: #95a5a6;
}
footer {
  background-color: #ffffff;
}
a,
a:hover,
a:active {
  color: #e74c3c;
}
a,
a:hover,
a:active,
a:focus {
  outline: 0;
}
h3 {
  font-weight: 200;
}
ul {
  list-style-type: square;
}
/* BLOCKQUOTES */
blockquote small {
  color: #999999;
  display: block;
  line-height: 1.42857;
}
blockquote small:before {
  content: "- ";
}
@media (min-width: 768px) {
  .columned {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-gap: 2em;
    -moz-column-gap: 2em;
    -webkit-column-gap: 2em;
  }
}
/* FOOTER */
footer {
  margin: 3em auto;
}
footer i {
  margin: 0.5em;
}
footer i:hover,
footer i:active {
  color: #e74c3c;
}
#menu {
  background-color: #ffffff;
  width: 100%;
  z-index: 1;
}
#menu.menu.fixed {
  position: fixed;
  top: 0;
}
header .pageTitle {
  color: #FFF;
  background-color: #e74c3c;
  font-weight: 200;
  margin: 0 auto;
  width: 218px;
}
header .pageTitle a,
header .pageTitle a:hover,
header .pageTitle a:active {
  color: #FFF;
}
header {
  background-size: cover;
  min-height: 250px;
  height: 600px;
  height: calc(100%);
  height: -webkit-calc(100%);
  padding: 200px 0 200px 0;
  background-position: center top;
  background-repeat: no-repeat;
}
header.half {
  min-height: 250px;
  height: 300px;
  height: calc(50%);
  height: -webkit-calc(50%);
  padding: 100px 0 100px 0;
}
header i {
  margin: 0 auto;
  width: 100px;
  margin-top: 100px;
  color: #e74c3c;
  font-size: 3em;
}
.nav-link:hover {
  text-decoration: underline;
}
.page-content {
  position: relative;
}
.menu-link {
  display: inline !important;
}
.menu-link i {
  padding: 0 1em;
}
nav ul.md-nav {
  list-style-type: none;
}
nav ul.md-nav,
nav:active ul.md-nav {
  display: none;
  position: absolute;
  left: 0px;
  top: -12px;
  padding: 52px 0 0 0;
  margin: 1em 30%;
  width: 40%;
  z-index: 2;
}
nav li .nav-link {
  color: #e74c3c;
}
nav li {
  color: #e74c3c;
  text-align: center;
  width: 100%;
  margin: 0 0 0.6em 0;
}
nav.open ul.md-nav {
  display: block;
}
nav.open .menu-link {
  background: #e74c3c;
  color: #ffffff;
}
nav ul.sm-nav {
  list-style: none;
  padding: 0 0 0 0;
  margin: 1em 0;
}
.menu-container {
  position: absolute;
  width: 100%;
}
nav {
  position: relative;
  margin: 0 auto 0 auto;
}
/* RESPONSIVE MEDIA QUERIES */
@media (min-width: 768px) {
  header h2.pageTitle {
    width: 350px;
  }
}
@media (min-width: 992px) {
  nav ul.md-nav,
  nav:active ul.md-nav {
    width: auto;
    position: static;
    display: block;
    border: none;
    margin: 1em 0 1em 0;
    padding: 0 0 0 0;
  }
  nav ul.md-nav li:first-of-type a {
    margin: 0;
  }
  nav ul.sm-nav {
    display: none;
  }
  nav li.hidden-sm.hidden-xs {
    display: inline !important;
    font-family: "Lobster";
    color: #333;
  }
  nav li.hidden-sm.hidden-xs a,
  nav li.hidden-sm.hidden-xs a:hover {
    display: inline !important;
    text-decoration: none;
    font-family: "Lobster";
    color: #333;
  }
  nav li a.nav-link {
    margin: 0 0 0 0;
    border: none;
    padding: 0 0 0 0;
  }
  nav li a.nav-link:hover,
  nav li a.nav-link:hover {
    text-decoration: underline;
    border: none;
    background-color: #ffffff;
    color: #e74c3c;
  }
  nav li {
    display: inline;
    margin: 0 2em;
  }
  #menu.fixed ul.md-nav {
    margin: 1em 0;
  }
}
@media (min-width: 1200px) {
  header {
    background-size: cover;
    min-height: 250px;
    height: 100vh;
    padding: 40vh 0 0 0;
    background-position: center top;
    background-repeat: no-repeat;
  }
  header.half {
    min-height: 250px;
    height: 50vh;
    padding: 10vh 0 0 0;
  }
  header i {
    margin: 0 40vw;
    color: #e74c3c;
    font-size: 3em;
    width: 20vw;
    padding-top: 5vh;
  }
}
/* LINK BUTTONS */
.link-btn {
  border: 2px solid #e74c3c;
  padding: 4px 4px 4px 4px;
  color: #e74c3c;
  background-color: #ffffff;
  text-transform: uppercase;
  font-size: 0.875em;
}
.link-btn:hover,
.link-btn:active {
  background-color: #e74c3c;
  text-decoration: none;
  color: #ffffff;
}
/* PROJECTS PAGE */
.projects .project,
.projects-container .project {
  margin-bottom: 5em;
}
.project-star {
  color: #f1c40f;
}
.projects-intro img {
  height: 160px;
}
.project-footer a {
  margin: 1em;
}
/* QUOTE CONTAINER */
.quote-holder .quote-right {
  float: right;
}
.quote-holder .quote-left {
  float: left;
}
.quote-holder .toggle .toggler:hover,
.quote-holder .toggle .toggler:active {
  color: #f1c40f;
}
.quote-holder:hover .toggler:after {
  content: "zap me!";
}
/* TEXT HIGHLIGHTING */
.text-highlight {
  background: #2ecc71;
  color: #ffffff;
}
.text-highlight.secondary {
  background: #9b59b6;
}
.text-highlight.tertiary {
  background: #f1c40f;
}
.text-highlight.quaternary {
  background: #c0392b;
}
.thoughts .thought {
  margin: 0 0 6em 0;
}
.thought-content img {
  max-height: 100%;
  max-width: 100%;
  margin: 2em auto;
}
.thought-content p {
  margin-bottom: 3em;
}
.thought-footer,
.thought-links {
  margin: 2em 0;
}
.thought-footer a,
.thought-links a {
  margin: 0.5em;
}
.thought-date {
  color: #999;
}
.more-thoughts {
  margin-top: 1em;
}
.more-thoughts .link-btn {
  border-color: #bdc3c7;
  color: #bdc3c7;
}
.more-thoughts .link-btn:hover,
.more-thoughts .link-btn:active {
  background-color: #bdc3c7;
  color: #FFF;
}
.recent-thought {
  margin: 0 0 2em 0;
  line-height: 1em;
}
.recent-thought a {
  color: #95a5a6;
  font-size: 0.85em;
}
.recent-thought a:hover {
  color: #e74c3c;
}
.recent-thought .comment-count {
  color: #e74c3c;
}
.comment-count-icon {
  color: #bdc3c7;
}
.recent-thoughts-container {
  position: relative;
  width: 100%;
  border-radius: 3em;
  border: 2px solid #95a5a6;
  background-color: #FFF;
  padding: 1em;
}
.recent-thoughts-container:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50px;
  width: 30px;
  height: 30px;
  border: 2px solid #95a5a6;
  border-radius: 100%;
  background-color: #FFF;
}
.recent-thoughts-container:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 30px;
  width: 15px;
  height: 15px;
  border: 2px solid #95a5a6;
  border-radius: 100%;
  background-color: #FFF;
}
