/**
  * Throw
  *
  * @author jh3y
*/
@-webkit-keyframes throw {
  0% {
    -webkit-transform: scale(0.75) translateX(-250%);
            transform: scale(0.75) translateX(-250%); }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5); }
  100% {
    -webkit-transform: scale(0.75) translateX(250%);
            transform: scale(0.75) translateX(250%); } }
@keyframes throw {
  0% {
    -webkit-transform: scale(0.75) translateX(-250%);
            transform: scale(0.75) translateX(-250%); }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5); }
  100% {
    -webkit-transform: scale(0.75) translateX(250%);
            transform: scale(0.75) translateX(250%); } }

.throw:before {
  -webkit-animation: throw .75s infinite alternate ease-in-out;
          animation: throw .75s infinite alternate ease-in-out;
  background-color: var(--primary);
  border-radius: 100%;
  content: '';
  height: 20px;
  width: 20px; }
