/* whirl traditional spinner.
Makes use of standard animation spin and minimally extends core.*/
$whirl-traditional-color-one: #777 !default;
$whirl-traditional-color-two: #999 !default;
$whirl-traditional-color-three: #BBB !default;

.whirl.traditional:after {
  border-right: $whirl-border-width solid $whirl-traditional-color-one;
  border-top: $whirl-border-width solid $whirl-traditional-color-one;
  border-left: $whirl-border-width solid $whirl-traditional-color-two;
  border-bottom: $whirl-border-width solid $whirl-traditional-color-three;
}
