/**
  * Blades
  *
  * @author jh3y - jheytompkins.com
  *
*/

$size: 20px;
$border: 4px;
$color: var(--primary);
$no-of-el: 5;
$radius: 5px;

.blades {
  animation: spin 1s infinite linear;
  height: $size;
  width: $size;
  div {
    border: 4px solid transparent;
    border-left-color: $color;
    height: $size;
    left: 50%;
    position: absolute;
    top: 50%;
    transform-origin: top left;
    width: $size;
  }

  @for $el from 1 through $no-of-el {
    div:nth-child(#{$el}) {
      transform: rotate(((360 / $no-of-el) * $el) * 1deg) translateY($radius);
    }
  }
}


@import 'common/spin';