/* whirl helicopter spinner.*/
$whirl-helicopter-color: #8E44AD !default;

.whirl.helicopter:after {
  height: $whirl-height / 4;
  width: $whirl-width;
  margin: -($whirl-height / 4) 0 0 -($whirl-width / 2);
  border: none;
  border-radius: 0;
  opacity: 1;
  transform-origin: center;
  background-color: $whirl-helicopter-color;
}
