/* whirl shadow oval right - makes use of box shadowing effects
in addition to offsetting the width and the height to angle the shadow*/
$whirl-box-shadow-height: $whirl-height !default;
$whirl-box-shadow-width: $whirl-width !default;
$whirl-box-shadow-color: rgba(0, 0, 0, .5) !default;

.whirl.shadow.oval.right:after {
  animation: spin-shadow .25s infinite linear;
  border: none;
  border-radius: 100% 40%;
}
@keyframes spin-shadow {
  0% {
    box-shadow: inset ($whirl-box-shadow-width / 8) ($whirl-box-shadow-width / 8) ($whirl-box-shadow-width / 8) $whirl-box-shadow-color;
  }
  25% {
    box-shadow: inset -($whirl-box-shadow-width / 8) ($whirl-box-shadow-width / 8) ($whirl-box-shadow-width / 8) $whirl-box-shadow-color;
  }
  50% {
    box-shadow: inset -($whirl-box-shadow-width / 8) -($whirl-box-shadow-width / 8) ($whirl-box-shadow-width / 8) $whirl-box-shadow-color;
  }
  100% {
    box-shadow: inset ($whirl-box-shadow-width / 8) -($whirl-box-shadow-width / 8) ($whirl-box-shadow-width / 8) $whirl-box-shadow-color;
  }
}
