/* whirl blade spinner.
experimental spinner that tries to create a blade effect.*/
$whirl-blade-color: #E74C3C !default;

.whirl.blade:after {
  height: $whirl-height /2;
  width: $whirl-width / 2;
  margin: -$whirl-height/4 0 0 (-($whirl-width / 4) + ($whirl-width / 2));
  border-right: $whirl-border-width solid transparent;
  border-top: $whirl-border-width solid transparent;
  border-left: $whirl-border-width solid transparent;
  border-bottom: $whirl-border-width solid $whirl-blade-color;
  opacity: 1;
  transform-origin: left;
}
