/*whirl spherical horizontal spinner*/
$whirl-sphere-color: rgba(0, 0, 0, .5) !default;
$whirl-sphere-height: $whirl-height !default;
$whirl-sphere-width: $whirl-width !default;

.whirl.sphere.horizontal:after, .whirl.sphere:after {
  border-radius: 100%;
  animation: sphere .5s infinite;
  border: none;
  height: $whirl-sphere-height;
}
@keyframes sphere {
  from {
    box-shadow: inset ($whirl-sphere-width + 5px) 0px $whirl-sphere-width/4 $whirl-sphere-color;
  }
  to {
    box-shadow: inset -($whirl-sphere-width + 5px) 0px $whirl-sphere-width/4 $whirl-sphere-color;
  }
}
