/*whirl spherical vertical spinner*/
$whirl-sphere-color: rgba(0, 0, 0, .5) !default;
$whirl-sphere-height: $whirl-height !default;
$whirl-sphere-width: $whirl-width !default;

.whirl.sphere.vertical:after {
  border-radius: 100%;
  animation: sphere-v .5s infinite;
  border: none;
  height: $whirl-sphere-height;
}
@keyframes sphere-v {
  from {
    box-shadow: inset 0px ($whirl-sphere-width + 5px) $whirl-sphere-width/4 $whirl-sphere-color;
  }
  to {
    box-shadow: inset 0px -($whirl-sphere-width + 5px) $whirl-sphere-width/4 $whirl-sphere-color;
  }
}
