/*whirl duo - a dual colored standard animated spinner*/
$whirl-duo-color-one: #333 !default;
$whirl-duo-color-two: #F1C40F !default;

.whirl.duo:after {
	border-right: $whirl-border-width solid $whirl-duo-color-one;
	border-left: $whirl-border-width solid $whirl-duo-color-one;
	border-top: $whirl-border-width solid $whirl-duo-color-two;
	border-bottom: $whirl-border-width solid $whirl-duo-color-two;
}
