---
layout: default
---
h2
	|(cs)spinner
h5
	|pure CSS spinners with minimal effort!
.page-content
	ul
		li
			.demo.csspinner.shadow
		li
			.demo.csspinner.shadow.oval
		li
			.demo.csspinner.shadow.oval.right
		li
			.demo.csspinner.sphere
		li
			.demo.csspinner.sphere.vertical
		li
			.demo.csspinner
		li
			.demo.csspinner.traditional
		li
			.demo.csspinner.warning
		li
			.demo.csspinner.bar
		li
			.demo.csspinner.line
		li
			.demo.csspinner.line.back-and-fourth