/*whirl bar follow - a simple strafing bar animation that follows itself*/
$whirl-bar-height: $whirl-height / 2 !default;
$whirl-bar-width: $whirl-width !default;
$whirl-bar-color: rgba(0, 0, 0, .5) !default;
.whirl.bar.follow:after {
  animation: bar-follow 1s infinite linear;
}
@keyframes bar-follow {
  0% {
    box-shadow: inset $whirl-bar-width 0px 0px $whirl-bar-color;
  }
  100% {
    box-shadow: inset -$whirl-bar-width 0px 0px $whirl-bar-color;
  }
}
