doctype 5
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7(lang="en")
//if IE 7
	html.no-js.lt-ie9.lt-ie8(lang="en")
//if IE 8
	html.no-js.lt-ie9(lang="en")
//if gt IE 8
	html.no-js(lang="en")
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	title
		|(cs)spinner | pure CSS loading animations with minimal effort.
	meta(name="description", content="")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	//Place favicon.ico and apple-touch-icon.png in the root directory
	!= getBlock('meta').add(site.meta).toHTML()
	!= getBlock("styles").add(site.styles).toHTML()
	script(src='//code.jquery.com/jquery-2.1.0.min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js')
body
	//if lt IE 7
		p.browsehappy
			|You are using an 
			strong
				|outdated browser
			|. Please 
			a(href="http://browsehappy.com/")
				|upgrade your browser
			|to improve your experience.
	!= content
	// Google Analytics: change UA-XXXXX-X to be your sites ID.
	script.
		(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		e.src='//www.google-analytics.com/analytics.js';
		r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		ga('create','UA-XXXXX-X');ga('send','pageview');