/*whirl line - a simple strafing line animation*/
$whirl-line-width: $whirl-width !default;
$whirl-line-height: $whirl-height / 2 !default;
$whirl-line-color: rgba(0, 0, 0, .5) !default;

.whirl.line:after {
  height: $whirl-line-height;
  border-radius: 0;
  border: none;
  box-shadow: inset -($whirl-line-width / 4) 0px 0px $whirl-line-color;
  animation: line .75s infinite linear;
}
@keyframes line {
  from {
    width: 10px;
  }
  to {
    width: $whirl-line-width + 10px;
  }
}
