/*whirl line back and forth - a simple strafing line animation that goes back and forth*/
$whirl-line-width: $whirl-width !default;
$whirl-line-height: $whirl-height / 2 !default;
$whirl-line-color: rgba(0, 0, 0, .5) !default;
.whirl.line.back-and-forth:after {
  animation: line-back-and-forth 1s infinite linear;
}
@keyframes line-back-and-forth {
  0% {
    width: 10px;
  }
  50% {
    width: $whirl-line-width + 10px;
  }
  100% {
    width: 10px;
  }
}
