/*whirl line grow - a simple strafing line animation that grows in the middle*/
$whirl-line-width: $whirl-width !default;
$whirl-line-height: $whirl-height / 2 !default;
$whirl-line-color: rgba(0, 0, 0, .5) !default;

.whirl.line.grow:after {
  animation: line .75s infinite linear, line-grow .75s infinite linear;
}
@keyframes line-grow {
  0% {
    transform: scaleY(1.0);
  }
  50% {
    transform: scaleY(2.0);
  }
  100% {
    transform: scaleY(1.0);
  }
}
