/*whirl line back and forth grow - a simple strafing line animation that goes back and forth and grows in the middle*/
$whirl-line-width: $whirl-width !default;
$whirl-line-height: $whirl-height / 2 !default;
$whirl-line-color: rgba(0, 0, 0, .5) !default;

.whirl.line.back-and-forth.grow:after {
	animation: line-back-and-forth 1s infinite linear, line-back-and-forth-grow 1s infinite linear;
}
@keyframes line-back-and-forth-grow {
	0% {
		transform: scaleY(1.0);
	}
	25% {
		transform: scaleY(2.0);
	}
	50% {
		transform: scaleY(1.0);
	}
	75% {
		transform: scaleY(2.0);
	}
	100% {
		transform: scaleY(1.0);
	}
}