/* whirl ringed spinner.
a spinner with a static ring and no overlay.*/
$whirl-ring-beam-color: #E74C3C !default;
$whirl-ring-color: #2ECC71 !default;

.whirl.ringed:after {
  border-right: $whirl-border-width solid $whirl-ring-beam-color;
  border-top: $whirl-border-width solid $whirl-ring-color;
  border-left: $whirl-border-width solid $whirl-ring-color;
  border-bottom: $whirl-border-width solid $whirl-ring-color;
  opacity: 1;
}
