/**
  * Box spin
  *
  * @author jh3y - jheytompkins.com
*/

$size: 50px;

.box-spin {
  animation: spin 3s infinite linear;
  height: $size;
  position: relative;
  width: $size;

  &:before {
    content: '';
    display: block;
    height: 50px;
    width: 50px;
    animation: spin .5s infinite;
    background: var(--primary, #fff);
    position: absolute;
    left: 50%;
    margin-left: -($size / 10);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}